{% extends "rol-admin.html" %}
{% load static %}
{% block title %} Sistema de Gestión del Control del Material Docente{% endblock %}
{% block body %}

 <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="mt-3 ml-3 text-center">Ayuda</h4>

                    <section>
                        <article>
                            <h5 class="mt-3 di h5 border-bottom border-2">FAQs</h5>
                            <div class="h6"> ¿Cómo usar el sistema?</div>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum tempora facere ipsa
                                vero. Id blanditiis voluptas reiciendis velit quod debitis nostrum laboriosam, autem
                                reprehenderit quis similique repudiandae vitae, eligendi quam.
                                Modi ea in vel, ut natus porro! Cumque sit aut dignissimos quam eaque voluptate quod
                                blanditiis quis numquam, neque ea ipsa exercitationem error, ad corporis quas iste,
                                ipsum magnam est!
                                Tempora exercitationem asperiores ipsum dolorem, consequatur ducimus excepturi omnis
                                iure non ea suscipit nesciunt natus maiores at repellat sapiente mollitia consequuntur
                                commodi. Sint tempora, non maiores perspiciatis quis recusandae dolores.</p>

                        </article>
                        <article>
                            <h5 class="mt-3 di h5 border-bottom border-2">Información sobre la versión</h5>

                            <div class="container col-md-8 ">
                                <div class="card card-body bg-dark bg-opacity-75 shadow">
                                    <img width="80px" class="rounded-3 mx-auto mb-1" src='{% static "img/logo.jpg" %}' alt="book"> </img>
                                    <h6 class="h6 mt-auto mb-3 text-center text-light">
                                        Sistema de Gestión del Control del Material Docente
                                    </h6>

                                    <div class="mb-3  text-center text-light">
                                        Versión: 1.0.0
                                    </div>


                                    <hr class="bg-light" />
                                    <p class="small text-center text-light">
                                        Universidad de las Ciencias Informáticas <br>
                                        2021 .Todos los derechos reservados &#xa9;&#xfe0f;
                                    </p>
                                </div>
                            </div>

                        </article>
                    </section>





                </div>
            </div>

        </div>
{% endblock %}