{% extends "rol-admin.html" %}
{% load static %}
{% block title %} Sistema de Gestión del Control del Material Docente{% endblock %}
{% block body %}
 <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="mt-3 mb-3 text-center">Contactos</h4>

                    <div class="container">
                        <div class="row">
                            <div class="col-md mb-3">
                                <div class="card text-center">
                                    <i class="bi bi-person card-img-top" ></i>
                                    <div class="card-body">
                                        <h6 class="card-title">Angel Eloy Oduardo Desdunes</h6>
                                        <p class="card-text">Programador
                                        </p>
                                    </div>

                                    <div class="card-footer ">

                                    <a href="https://github.com/sergioere/Sistema-Material-Docente" class="w-100 btn btn-outline-dark mt-3"> <i class="bi bi-github" ></i></a>
                                    <a href="https://correo.estudiantes.uci.cu/#1" class="w-100 btn btn-outline-primary mt-3"> <i class="bi bi-envelope-fill" ></i></a>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md mb-3">
                                <div class="card text-center">
                                    <i class="bi bi-person card-img-top" ></i>
                                    <div class="card-body">
                                        <h6 class="card-title">Alayn Lado Chaviano</h6>
                                        <p class="card-text">Programador
                                        </p>

                                    </div>

                                    <div class="card-footer ">

                                    <a href="https://github.com/sergioere/Sistema-Material-Docente" class="w-100 btn btn-outline-dark mt-3"> <i class="bi bi-github" ></i></a>
                                    <a href="https://correo.estudiantes.uci.cu/#1" class="w-100 btn btn-outline-primary mt-3"> <i class="bi bi-envelope-fill" ></i></a>


                                    </div>
                                </div>
                            </div>
                            <div class="col-md mb-3">
                                <div class="card text-center">
                                    <i class="bi bi-person card-img-top" ></i>
                                    <div class="card-body">
                                        <h6 class="card-title">Sergio Ernesto Romero Escarrá</h6>
                                        <p class="card-text">Programador
                                        </p>

                                    </div>

                                    <div class="card-footer ">
                                    <a href="https://github.com/sergioere/Sistema-Material-Docente" class="w-100 btn btn-outline-dark mt-3"> <i class="bi bi-github" ></i></a>
                                    <a href="https://correo.estudiantes.uci.cu/#1" class="w-100 btn btn-outline-primary mt-3"> <i class="bi bi-envelope-fill" ></i></a>


                                    </div>
                                </div>
                            </div>
                            <div class="col-md mb-3">
                                <div class="card text-center">
                                    <i class="bi bi-person card-img-top" ></i>
                                    <div class="card-body">
                                        <h6 class="card-title">Karla Quintana Castillo</h6>
                                        <p class="card-text">Programadora
                                        </p>

                                    </div>

                                    <div class="card-footer ">

                                    <a href="https://github.com/sergioere/Sistema-Material-Docente" class="w-100 btn btn-outline-dark mt-3"> <i class="bi bi-github" ></i></a>
                                    <a href="https://correo.estudiantes.uci.cu/#1" class="w-100 btn btn-outline-primary mt-3"> <i class="bi bi-envelope-fill" ></i></a>

                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>



                </div>
            </div>

        </div>


{% endblock %}