{% extends "base.html" %}
{% load static %}
{% block title %} Sistema de Gestión del Control del Material Docente{% endblock %}
{% block account %}Vicedecano {% endblock %}

{% block rol-vice %}
    <li>
                        <a href="{% url 'material' %}" class="nav-link px-3 gest-material-docente">
                            <span class="me-2"><i class="bi bi-book"></i></span>
                            <span>Gestión del material docente</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'modelo' %}" class="nav-link px-3 gest-modelo-solicitud">
                            <span class="me-2"><i class="bi bi-book"></i></span>
                            <span>Gestión del modelo de solicitud de materiales</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'entrega' %}" class="nav-link px-3 gest-entrega-material">
                            <span class="me-2"><i class="bi bi-book"></i></span>
                            <span>Gestión de la entrega de material docente</span>
                        </a>
                    </li>


                    <li class="my-1">
                        <hr class="dropdown-divider bg-light"/>
                    </li>
<li>
                    <a href="{% url 'ayuda' %}" class="nav-link px-3 ayuda">
                        <span class="me-2"><i class="bi bi-question-square"></i></span>
                        <span>Ayuda</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'contactos' %}" class="nav-link px-3 contactos">
                        <span class="me-2"><i class="bi bi-person-rolodex"></i></span>
                        <span>Contactos</span>
                    </a>
                </li>
{% endblock %}
{% block body %}
    <div class="container display-6">
        Bienvenido Vicedecano de Administración !
    </div>
{% endblock %}